.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-printer {
    background-image: url(../images/printer.png) !important;
}

.icon-report {
    background-image: url(../images/report.png) !important;
}